@font-face{ /*llamamos y creamos una fuente (se busca la fuente, se descarga se pega en la carpeta fonts)*/
font-family: Domine;
src:url(fonts/Domine/static/Domine-Regular.ttf);
}


/*Estilos para barra de navegación*/
nav {
    font-family: Domine;
    font-size: 15px;
    clear:left ;
}

nav ul{
    list-style: none;
    display: flex; /*se posicionan las cajas una al lado de otra*/
    justify-content: space-around; /*distribuye los elementos con un espacio*/
}

nav ul li{ 
    display: inline-block; /*creo bloque donde los elementos se posicionan en linea (uno al lado del otro) */
    text-decoration: none;
    padding: 10px 30px;
    border-bottom:black solid;
    border-width: 1px;
}

.nav-enlace{
    color: black;
    text-decoration: none;
}

@media (max-width :600px){ /*breakpoint para tablet y menos (disp móviles)*/
    nav ul{
        flex-direction: column;
    }
}
    

/*Fin estilos barra de navegación*/

/*Inicio Estilo Noticias en index*/

.noticias { 
    width: 17%;
    float: left;
    padding: 3%;
    background-color: rgb(245, 245, 245);
    margin: 1%;
    border-radius: 10px;
}
img { width:100%;
}

@media (max-width :600px){
    .noticias { 
        width: 100%;
    } 
}
/*Fin Estilo Noticias en index*/

/*Inicio Estilo Cabecera en index*/

.titulos{
    float: left;
}

.logo { 
    width:250px;
    padding: 40px;
    float: left;
}

@media (max-width :600px){
    .logo { 
        width: 100%;
        padding: 0px;
    }
    .titulos {
        text-align: center;
    }
}
/*Fin Estilo Cabecera en index*/
footer{
    clear:left ;
    padding: 20px;
    background-color: beige;
}
