*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box; /*para que las cajas no se desborden unas con otras*/
}


.contenedor{
    border: 1px solid gray;
    display: flex; /* */
    flex-flow: column nowrap; /* */
    text-align: center;
    width: 100%;
    padding:20px;
    margin: 20px;
}

header{
    display: flex;
    border: 1px solid gray;
    flex-flow: column nowrap;
    padding: 10px 10px;
}

nav{
    display: flex;
    border: 1px solid gray;
    flex-flow: column;
}

section{
    display: flex;
    border: 1px solid lightgray;
}

article{
    display: flex;
    flex-flow: column;
    border: 1px solid gray;
}

aside{
    display: flex;
    flex-flow: column;
    border: 1px solid gray;
}

footer{
    display: flex;
    flex-flow: column;
    border: 1px solid gray;
}

@media only screen and (max-width: 768px) {
    section{
        display: flex;
        flex-flow: column;
        border: 1px solid lightgray;
    }

}